<div class="item">
   <article class="testimonial-item testimonial-node-v1">      
      <div class="content-inner">
         <div class="testimonial-content">
            <div class="icon">“</div>
            <div class="quote">{{ fields.body.content|striptags|trim }}</div>  
            <div class="info">
               <span class="title">{{ fields.field_testimonial_name.content }}</span><span>, </span>
               <span class="job">{{ fields.field_testimonial_job.content }}</span>
            </div>  
         </div>
      </div>
   </article>
</div>