.custom-row-press{
    width: 43%!important;
    margin-right: 17px!important;
}

.post-style-list .post-block .post-image{
    width: initial!important;
}

.btn-theme{

    background: #ec472c!important;
    border:initial!important;
}


html[dir="rtl"] .post-style-list .post-block .post-content {
   
    width: 60%;
    padding-right: 20px;
    float: right;
    
}

html[dir="rtl"] .post-style-list .post-block .post-image {
 
    float: right;
    
}

h2.webform-section-title{
    display: none!important;
}

span.fieldset-legend{
    display: none!important;
}

.webform-submission-m9ate3-form label{
    display: none!important;
} 

.webform-submission-mam9ate3ch-form label{
    display: none!important;
}

.webform-submission-mamsw9ch-form label{
    display: none!important;
}

.custom-block-readmore .bb-inner.default{
    padding-top: initial!important;
    padding-bottom: 20px!important;
}

.custom-readmore{
    display: block;
    width: 160px;
    margin: auto;
}