.block.block-gavias-blockbuilder{
  padding-bottom: 0!important;
  margin-bottom: 0!important;
  ul > li{
    list-style: none;
  }
}

.gbb-row-wrapper{
  .icon-row{
    color: $theme-color;
  }
}
.container{
  max-width: 100%;
  .container{
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0 !important;
  }
}
.bb-container.full-screen{
  display: table;
  table-layout:fixed;
  width: 100%;
  .bb-inner{
    padding: 0!important;
  }
  > .row{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.gbb-row.gsc-equal-height{
  .row-wrapper{
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &::before,
    &::after {
      display: none;
    }
    > .gsc-column{   
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      .column-inner{
        width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        &::before,
        &::after {
          content: " ";
          display: table;
        }
        &::after {
          clear: both;
        }
        @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
          & > * {
            min-height: 1em;
          }
        }
      }
    }
  }
  .column-content-inner{
    position: relative;
    top: 50%;
    @include translateY(-50%);
  }
  .content-top{
    .column-content-inner{
      top: 20px;
      @include translateY(0);
    }
  }
}

.gbb-row{
  &.row-border{
    .row-wrapper{
      > .gsc-column{
        &:after{
          content: '';
          @include size(1px, 100px);
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -50px;
          z-index: 1;
          background: rgba(255, 255, 255, 0.2);
        }
        &:last-child{
          &:after{
            display: none!important;
          }
        }
        &[class*='col-lg-12']{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}

.grid-small{
  .container{
    max-width: 900px;
    margin: 0 auto;
  }
}

.gavias-blockbuilder-content{
  position: relative;
  .link-edit-blockbuider{
    border: 1px solid $border-color;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 99;
    @include transition(all 0.35s);
    @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
    background: $theme-color;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    &:hover, &:focus, &:active{
      color: $white;
    }
  }
}

.gbb-row{
  @media(max-width: $screen-sm-max){
    &[style*="padding-top"]{
      padding-top: 30px!important;
    }
    &[style*="padding-bottom"]{
      padding-bottom: 30px!important;
    }
  }
   .bb-inner{
      padding-top: 70px;
      padding-bottom: 70px;
      @media(max-width: $screen-sm-max){
        padding-top: 45px;
        padding-bottom: 45px;
      }
      &.remove_margin{
         margin: 0!important;
      }
      &.remove_padding{
         padding: 0!important;
      }
      &.remove_padding_col{
         .bb-container{
              .row{
               margin-left: 0!important;
               margin-right: 0!important;
               > .row-wrapper{
                  > div.gsc-column {
                    padding-left: 0!important;
                    padding-right: 0!important;
                  }
               }
            }
         }   
      } 
      &.remove_padding_top{
        padding-top: 0!important;
      }
      &.remove_padding_bottom{
        padding-bottom: 0!important;
      }
   }   
} 
.widget{
   /******************** Block for drupal ***********************/
   &.gsc-block-drupal{
      &.hidden-title-off{
         .block-inner{
            .block-title{
               h2{
                  display: none!important;
               }
            }
         }
      }
      &.title-align-center{
         .block-title{
            text-align: center;
         }
      }
      &.title-align-left{
         .block-title{
            text-align: left;
         }
      }
      &.title-align-right{
         .block-title{
            text-align: right;
         }
      }
      &.text-light{
        div{
          color: $white;
        }
         .block-inner{
            .block-title{
               color: $white;
            }
            .block-content{
               *, div{
                  color: $white;
                  &:after, &:before{
                     color: rgba(255, 255, 255, 0.2);
                  }
               }
            }
         }
      }
      &.remove-margin-on{
         .block{
            margin-bottom: 0!important;
         }
      }
   }
   /********************* Custom heading *************************/
   &.gsc-heading{
      padding: 5px 0 30px;
      display: block;
      width: 100%;
      @include clearfix();
      .title{
        font-weight: 400;
        margin: 0;
        position: relative;
        color: $black;
        font-size: 34px;
        padding-bottom: 10px;
        text-transform: none;
        strong{
          color: $theme-color!important;
        }
      }
      .sub-title{
        font-size: 14px;
        color: $theme-color;
      }
      .title-icon{ 
         color: $theme-color;
         i{
          font-size: 22px;
          &.fa{
            margin-top: 5px;
          }
         }
         span{
            position: relative;
            padding: 0 5px;
         }
      }
      .title-desc{
        max-width: 700px;
        margin: 0 auto;
        line-height: 28px;
        font-family: "Georgia";
        font-size: 15px;
        font-style: italic;
        color: #999999;
      }
      &.align-center{
        text-align: center;
        .title-icon{ 
          color: $theme-color;
          margin-bottom: 10px;
          span{
            @include size(60px, 60px);
            background: $white;
            position: relative;
            padding: 15px;
            display: inline-block;
            line-height: 28px;
            @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.15));
            @include border-radius(50%);
          }
        }
      }
      &.align-left{
        text-align: left;
        .title-desc{
          float: left;
        }
      }
      &.align-right{
        text-align: right;
        .title-desc{
          float: right;
        }
      }
      &.style-1{
        .title span{
          color: $headings-color;
        }
        &.text-light{
          .title span{
            color: $white;
          }
        }
      }
      &.style-2{
        padding: 10px 0 20px;
        .line{
          display: none;
        }
        .title{
          color: $black;
          background: none;
          strong{
            color: $theme-color;
            font-weight: 600;
          }
        }
        &.align-left{
          padding-right: 15px;
        }
      }

      &.style-3{
        padding: 10px 0 30px;
        max-width: 700px;
        margin: 0 auto;
        .title{
          font-size: 36px;
          text-transform: none;
          letter-spacing: 0;
          line-height: 48px;
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 5px;
          &:after{
            content: "";
            @include size(60px, 2px);
            background: $theme-color;
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 1;
          }
        }
        .title-desc{
          padding-top: 10px;
        }
        &.align-center{
          .title{
            &:after{
              left: 50%;
              margin-left: -30px;
            }
          }
        }
        &.align-right{
          .title{
            &:after{
              right: 0;
              left: auto;
            }
          }
        }
        &.text-light{
          .title-desc{
            color: $white!important;
          }
          .title:after{
            background: $white;
          }
        }
      }
      &.style-4{
        padding: 30px 0;
        max-width: 600px;
        .title-desc{
          font-size: 16px;
        }
      }
   }
   &.text-light{
      .title-sub{
        color: $white;
      }
      .title{
        color: $white;
      }
      .title-sub span{
        color: rgba(255, 255, 255, 0.9);
      }
      .title-icon span{
         &:after, &:before{
            background: rgba(255, 255, 255, 0.1);
         }
      }
      .title-desc{
         color: #CCCCCC;
      }
   }

  /********************** Call to action **************************/
  &.gsc-call-to-action{
    .title{
      font-weight: 400;
    }
    .sub-title{
      font-size: 15px;
      font-style: italic;
      letter-spacing: 0.5px;
    }
    &.button-right{
      position: relative;
      .title{
        margin: 0!important;
      }
      .content{
        padding-right: 120px;
        p{
          margin: 0;
        }
      }
      .button-action{
        position: absolute;
        right: 0;
        top: 50%;
        @include translateY(-50%);
        z-index: 1;
      }
    }
    &.button-left{
      position: relative;
      text-align: right;
      .title{
        margin: 0!important;
      }
      .content{
        padding-left: 120px;
        p{
          margin: 0;
        }
      }
      .button-action{
        position: absolute;
        left: 0;
        top: 50%;
        @include translateY(-50%);
        z-index: 1;
      }
    }
    &.button-bottom{
      padding: 30px 0;
      .title{
        font-size: 32px;
        position: relative;
        padding-bottom: 20px;
        margin-top: 0;
        line-height: 44px;   
      }
      .desc{
        font-size: 14px;
      }
      .button-action{
        margin-top: 30px;
      }
      &.text-light{

      }
    }
    &.button-center{
      padding-top: 45px!important;
      padding-bottom: 45px!important;
      margin-bottom: 0!important;
      text-align: center;
      margin: 0 auto;
      .title{
        font-size: 36px;
        position: relative;
        margin-bottom: 8px;
        margin-top: 8px;
      }
      .desc{
        font-size: 16px;
      }
      .button-action{
        margin-top: 20px;
      }
    }
    &.has-background{
      padding: 35px;
      margin-bottom: 30px;
      @include border-radius(3px);
      .title{
        margin-bottom: 0;
        padding-bottom: 15px;
        font-size: 20px;
        &:after{
          display: none;
        }
      }
      &.button-right{
        .button-action{
          right: 30px;
        }
      }
    }
    &.text-light{
      .content{
        color: $white;
        .title span{
          color: $white;
          background: none!important;
          background-clip: content-box;
          -webkit-background-clip: content-box;
          -webkit-text-fill-color: $white;
        }
        .desc *{
          color: $white;
        }
      }
      .sub-title{
        color: $white;
      }
    }
  }   

   /**************** Team ************************/
   &.gsc-team{
      .social-icons{
         a{
            @include size(35px, 35px);
            line-height: 35px;
            text-align: center;
            @include border-radius(50%);
            margin-right: 10px;
            display: inline-block;
            color: $white;
            @include transition(all 0.35s);
            @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
            &:hover{
              @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.4));
            }
         }
      }
      .team-name{
         font-size: 14px;
         text-transform: uppercase;
         padding: 0 0 15px ;
         position: relative;
         font-weight: 700;
         margin: 0;
         letter-spacing: 1px;
      }
      .team-position{
         text-transform: capitalize;
         color: $theme-color;
         font-weight: 400;
         font-size: 13px;
      }  
      .team-info{
         margin: 15px 0;
      }  

      &.team-horizontal{
         margin-top: 50px;
         .team-header{
          position: relative;
          overflow: hidden;
          img{
            @include transition(all 3s);
            display: inline-block;
          }
          .box-hover{
            @include opacity(0);
            @include scale(0.8);
            position: absolute;
            top: 0;
            left: 0;
            @include transition(all 0.35s);
            @include size(100%, 100%);
            background: rgba(0, 0, 0, 0.6);
            .content-inner{
              position: absolute;
              top: 50%;
              margin-top: -15px;
              left: 0;
              width: 100%;
              height: auto;
              padding: 0 20px;
            }
          }
          .social-list{
            a{
              background: none;
              color: $white!important;
              @include transition(all 0.35s);
              margin-right: 20px;
              display: inline-block;
              font-size: 16px;
              &:last-child{
                margin-right: 0;
              }
              &:hover{
                color: $theme-color!important;
              }
            }
          }
         }
         .team-name{
            font-size: 14px;
            margin: 0 0 12px 0;
            text-transform: uppercase;
            padding: 0 0 12px;
            position: relative;
            font-weight: 800;
            &:after{
               bottom: 0;
               left: 0;
               content: "";
               background: $theme-color;
               @include size(45px, 1px);
               position: absolute;
            } 
         }
         &:hover{
          .box-hover{
            @include opacity(1);
            @include scale(1);
          }
          .team-header{
            img{
              @include scale(1.2);
            }
          }
        } 
      }
      &.team-vertical{  //vertical
        margin-bottom: 30px;
        position: relative;
        background: none;
        @include transition(all 0.35s);
        @include border-radius(6px);  
        .team-header{
          overflow: hidden;
          position: relative;
          img{
            @include transition(all 3s);
            display: inline-block;  
          }
        }
        .social-list{
          a{
            background: none;
            color: $white!important;
            @include transition(all 0.35s);
            margin-right: 20px;
            display: inline-block;
            font-size: 16px;
            &:last-child{
              margin-right: 0;
            }
            &:hover{
              color: $black!important;
            }
          }
        }
        .team-name{
          padding: 0;
          color: $white;
        }
        .team-position{
          color: $white;
        }
        .team-content{
          color: $white;
        }
        .box-hover{
          @include opacity(0);
          @include scale(0.8);
          position: absolute;
          top: 0;
          left: 0;
          @include transition(all 0.35s);
          @include size(100%, 100%);
          background: rgba(0, 0, 0, 0.6);
          .team-content{
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
            padding: 0 20px;
            top: 50%;
            @include translateY(-50%);
          }
        }
        .team-body{
          bottom: 0;
          left: 0;
          @include transition(all 0.35s);
          .content-hover{
            @include opacity(0);
          }
          .info{
            padding: 20px 15px;
            position: relative;
            margin-top: -35px;
            margin-left: 15px;
            margin-right: 15px;
            z-index: 99;
            background: $theme-color;
          }
        }
        &:hover{
          .box-hover{
            @include opacity(1);
            @include scale(1);
          }
        }  
      }
      &.team-circle{  //vertical
       .team-header, .box-hover{
        @include border-radius(50%);
       } 
      }
   }

   /******************** Chart *****************************/
   &.gsc-chart{
      text-align: center;
      .chart-inner{
        padding: 10px;
        @include border-radius(50%);
        @include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.05));
        display: inline-block;
      }
      .easyPieChart {
        font-size: 24px;
        font-weight: 400;
        position: relative;
        text-align: center;
        display: inline-block;
        &:last-child {
          margin-right: 0;
        }
        span {
          line-height: 20px;
          font-size: 30px;
          font-weight: 600;
          text-transform: uppercase;
          color: $theme-color;
          font-style: italic;
        }
        canvas {
         position: absolute;
         top: 0;
         left: 0;
        }
      }
      .content{
         text-align: center;
         > div{
            display: block;
         }
         .icon{
            font-size: 25px;
            margin-top: 5px;
         }
         .title{
            text-transform: none;
            font-size: 18px;
            font-weight: 600;    
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 10px;
            margin-top: 10px;   
            font-family: $font-second;   
         }
      }
   }

   /************* Icon Box **********************/
   &.gsc-icon-box{
    margin-bottom: 45px;
    position: relative;
    @include transition(all 0.35s);
    .highlight_content{
      margin-top: 10px;
      .title{
        font-size: 18px;
        font-family: $font-second;
        font-weight: 600;
        color: $black;
        letter-spacing: 0.5px;
        margin-bottom: 6px;
      } 
    }
    .desc{
      font-size: 14px;
    }
    .highlight-icon{
      .icon-container{
        @include transition(all 0.35s);
        text-align: center;
        line-height: 1;
        &.fa-stack{
          line-height: 2.2em;
        }
        &.fa-4x{
          font-size: 36px;
          @include size(3em, 3em);
          line-height: 3em;
        }
        &.text-theme{
          &[class*="border-"]{
            border-color: $theme-color;
          }
        }
        &.text-white{
          &[class*="border-"]{
            border-color: $white;
          }
        }
        &.text-black{
          &[class*="border-"]{
            border-color: $black;
          }
        }
      }
    }
    &:hover{
      .highlight-icon{
        .icon-container{
          // -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
          // -webkit-transform: scale(-1, 1);
          // -ms-transform: scale(-1, 1);
          // transform: scale(-1, 1);
        }
      }  
    }
    
    &.box-shadow-1{
      .highlight-icon{
        padding: 10px;
        @include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.05));
        display: inline-block;
        @include border-radius(50%);
      } 
    }

    &.top-center{ //Top center
      text-align: center;
      .highlight-icon{
        text-align: center;
      }
      .highlight_content{
        text-align: center;
        .desc{
          text-align: center;
          font-weight: 400;
          text-transform: normal;
          font-size: 14px;
        }
      }
    }  

    &.top-left{
      text-align: left;
    }
    &.top-right{
      text-align: right;
    }
    
    &.top-left-title, &.top-right-title{
      .title-inner{
        display: table;
        margin-bottom: 15px;
        .highlight-icon{
          display: table-cell;
          vertical-align: bottom;
        }
        .title{
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    &.top-left-title{
      .highlight-icon{
        padding-right: 15px;
      }
    }
    &.top-right-title{
      text-align: right;
      @include clearfix();
      .title-inner{
        float: right;
      }
      .highlight-icon{
        padding-left: 15px;
      }
      .desc{
        float: right;
        width: 100%;
      } 
    }

    &.right, &.left{
      display: table;
      .highlight-icon{
       display: table-cell;
       vertical-align: top;
       padding-top: 10px;
      }
      .highlight_content{
        display: table-cell;
        vertical-align: top;
      }
    }
    &.right{
      text-align: right;
      .highlight-icon{
        padding-left: 15px;
      }
    }
    &.left{
      text-align: left;
      .highlight-icon{
        padding-right: 15px;
      }
    }
    &.text-light{
      .title{
        color: $white;
        a{
          color: $white;
        }
      }
      .desc{
        color: $white;
      }
    }
    &.box-background{
      padding: 30px 30px 30px;
      @include transition(all 0.35s);
      @include box-shadow(0px 5px 20px 0px rgba(0, 0, 0, 0.05));
      &.active, &:hover, &:focus, &:active{
       @include box-shadow(0px 5px 20px 0px rgba(0, 0, 0, 0.1));
      }
    }
  }

   /******************** Video Box **************************/
   &.gsc-video-box{
      position: relative;
      margin: 0 auto;
      .video-inner{
        @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
        position: relative;
        .gsc-video-link{
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -45px;
          text-align: center;
          width: 100%;
          z-index: 1;
          .icon-play{
            background: url('#{$base-theme-image-path}/icon-play.png') no-repeat center center $nocolor;
            @include size(85px, 85px);
            display: inline-block;
            @include scale(1);
            @include transition(all 0.35s);
            &:hover{
              @include scale(.8);
            }
          }
          .video-title{
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
          }    
        }
        #gsc-video-overlay{
          overflow: hidden;
          position: absolute;
          @include size(100%, 100%);
          z-index: 99;
          top: 0;
          left: 0;
          &:hover{
            .video-close{
              @include opacity(1);
              top: 0;
            }
          }
        }
        .loaded{
          max-width: 100%;
        }
        .video-close{
          @include transition(all 0.35s);
          display: block;
          text-align: center;
          position: absolute;
          top: -50px;
          @include size(100%, 30px);
          color: $white;
          background: rgba(0, 0, 0, 0.6);
          font-size: 48px;
          font-weight: 900;
          line-height: 0.5;
          z-index: 999;
          @include opacity(0);
        }
      }
      .video-content{
        text-align: center;
        max-width: 600px;
        margin: 20px auto 0;
        .video-title{
          font-size: 18px;
          color: $black;
          font-family: $font-second;
          font-weight: 700;
        }

      }
    }

  /*************** Milestone ***************/
  &.milestone-block {
      display: inline-block;
      margin-right: 50px;
      @include transition(all 0.35s);
      @include border-radius(5px);
      .milestone-icon {
        float: left;
        text-align: center;
        position: relative;
        span {
          font-size: 20px;
          color: $text-color;
        }
      }
      .milestone-number {
        font-size: 34px;
        line-height: 30px;
        font-weight: 700;
        margin: 15px 0;
      }
      .milestone-text {
        font-size: 14px;
        font-weight: 400;
        font-family: $font-second;
      }

      &.position-icon-top{
        text-align: center;
        display: block;
        width: 100%;
        padding: 30px 0;
        .milestone-icon{
          display: inline-block;
          text-align: center;
          float: none;
          margin: 0;
          span{
            &.fa{
              padding-top: 3px;
            }
          }
        }
        .milestone-right{
          display: block;
          text-align: center;
          float: none;
          width: 100%;
          margin-top: 10px;
        }
      }
      
      &.position-icon-left{
        .milestone-icon {
          float: left;
          width: 48px;
          height: 48px;
          line-height: 48px;
          text-align: center;
          margin-right: 9px;
          margin-bottom: 4px;
          @include border-radius(2px);
          position: relative;
          padding-top: 0px;
          span {
            font-size: 38px!important;
            color: $theme-color; 
          }
      }
      .milestone-right {
        float: left;
        text-align: left;
        padding-left: 15px;
        margin-left: 5px;
        border-left: 1px solid $border-color;
      }
      .milestone-number {
        font-size: 24px;
        line-height: 26px;
        font-weight: 300;
        margin: 0;
      }
      .milestone-text {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
      }
      }
      &[style*="background-color"]{
          padding: 50px 20px;
          @media(max-width: $screen-sm-max){
            padding: 30px 20px;
          }
        }
      &.text-light{
        .milestone-number, .milestone-text{
          color: $white!important;
        }
        .milestone-icon span{
          border-color: $white;
          color: $white;
        }
      }
    }
    /***********************************************/
    &.gsc-progress{
      position: relative;

      &.text-light{
        .progress-label{
          color: $white;
        }
      }
    }
} 

.gsc-box-parallax{
  position: relative;
  margin-bottom: 80px;
  .col-first{
    width: 65%;
    float: right;
    @media(max-width: $screen-sm-max){
      width: 100%!important;
    }
  }
  .col-second{
    padding: 35px;
    background: $white;
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 9;
    height: 80%;
    left: 0;
    @include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.05));
    .content-inner{
      position: relative;
    }  
    @media(max-width: $screen-sm-max){
      @include clearfix();
      width: 100%!important;
      position: static!important;
      height: auto!important;
      float: left;
    }
  }

  .content-inner{
    .subtitle{
      font-size: 15px;
      color: #999999;
      font-weight: 700;
      font-style: italic;
    }
    .title{
      span{
        font-size: 30px;
        margin-bottom: 15px;
        color: $headings-color;
        font-family: $font-second;
        line-height: 44px;
        display: inline-block;
      }
    }
    .readmore{
      margin-top: 30px;
    }
  }
  &.content-align-left{

  }
  &.content-align-right{
    .col-first{
      float: left;
      text-align: right;
    }
    .col-second{
      right: 0;
      left: auto;
    }
  }
  &.style-1{
      .col-first{
        text-align: center!important;
        width: 55%;
      }
      .col-second{
        width: 55%;
      }
      .title{
        margin-top: 10px;
        span{
          font-size: 24px;
          line-height: 36px;
          font-weight: 300;
        }
      }
  }
}

.gsc-box-color{
  position: relative;
  @include border-radius(5px);
  background: $white;
  margin-top: 50px;
  @include box-shadow(0px 7px 12px rgba(0, 0, 0, 0.1));
  .box-title{
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-second;
    color: $black;
    margin-bottom: 5px;
  }
  .number{
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    bottom: 100%;
    line-height: 45px;
    text-align: center;
    width: 100%;
    left: 0;
    color: $theme-color;
  }
  .icon{
    padding: 15px 0 0;
    text-align: center;
    color: $theme-color;
    font-size: 36px;
    @include border-radius(5px 5px 0 0);
    position: relative;
    @include box-shadow(0px -3px 6px rgba(0, 0, 0, 0.1));
  }
  .content{
    padding: 0 20px 20px;
    text-align: center;
  }
}

.gsc-hover-background{
  position: relative;
  background: #F5F5F5;
  padding: 85px 0;
  margin-bottom: 30px;
  .front{
    text-align: center;
    @include transition(all 0.35s);
    @include scale(1);
    .icon{
      line-height: 1;
      font-size: 42px;
      color: $theme-color;
    }
    h2{ 
      font-size: 16px;
      font-weight: 700;
      color: $black;
      text-transform: uppercase;
      margin-top: 15px;
      letter-spacing: -1px;
    }
  }
  .back{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    z-index: 11;
    @include opacity(0);
    @include scale(0);
    @include transition(all 0.35s);
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    -ms-background-size: cover!important;
    background-size: cover!important;
    &:after{
      content: "";
      @include size(100%, 100%);
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      position: absolute;
    }
    .content{
      color: $white;
      padding: 10px 30px;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      display: inline-block;
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 9;
      .content-text{
        font-size: 15px;
        color: $white;
        padding-bottom: 15px;
      }
    }
  }
  &:hover{
    .front{
      @include scale(0);
      @include opacity(0);
    }
    .back{
      @include opacity(1);
      @include scale(1);
    }
  }
}

.gsc-quote{
  position: relative;
  padding-top: 125px;
  &:after{
    position: absolute;
    content: "";
    background: url('#{$base-theme-image-path}/testimonial-icon.png') no-repeat center center $nocolor;
    @include size(30px, 30px);
    left: 0;
    top: 50px;
    z-index: 1;
  }
  .content{
    line-height: 28px;
  }
  .signature{
    margin-top: 60px;
  }
  .position{
    margin-top: 25px;
  }
}

.gsc-quote-text{
  position: relative;
  padding: 30px 30px 30px 70px;
  .icon{
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: 1;
    font-size: 20px;
    color: $theme-color;
  }
  .content{
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #999999;
  }
  &.has-border{
    border: 2px solid $border-color;
  }
}

.gsc-tabs{
  .tabs_wrapper{
    &.tabs_horizontal{
      .nav-tabs{
        margin: 5px 0;
        padding: 10px;
        @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
        background: $white;
      }
      .tab-content{
        margin-top: 20px;
        .tab-pane{
          background: $white;
          @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
          padding: 30px;
        } 
      }
    }
    &.tabs_vertical{
      .nav-tabs{
        width: 25%;
        float: left;
        > li{
          @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
          background: $white;
          display: block;
          margin-bottom: 20px;
          width: 100%;
          margin-right: 0;
          padding-right: 0;
          a{
            width: 100%;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .tab-content{
        width: 75%;
        float: left;
        padding-left: 15px;
        .tab-pane{
          background: $white;
          @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
          padding: 30px;
        }  
      }
    }
  }  
}

.gsc-gmap{
  position: relative;
  &.style-1{
    margin-bottom: -10px;
    iframe{
      width: 100%!important;
      pointer-events: none;
    }
    .info-inner{
      padding: 45px 30px;
      position: absolute;
      top: 100px;
      bottom: 100px;
      left: 20%;
      width: 375px;
      z-index: 99;
      background: $white;
      @media(max-width: $screen-md-max){
        left: 15%;
      }
      @media(max-width: $screen-sm-max){
        position: static;
      }
      .info-item{
        margin-bottom: 15px;
      }
    }
  }
  &.style-2{
    margin-top: 100px;
    @media(max-width: $screen-sm-max){
      margin-top: 30px;
    }
    .info-inner{
      padding: 60px 75px 60px 35px;
      position: absolute;
      top: -70px;
      bottom: -70px;
      width: 360px;
      z-index: 99;
      border: 5px solid $theme-color;
      z-index: 9;
      @media(max-width: $screen-sm-max){
        margin: 20px 0;
        position: static;
        width: 100%;
        float: left;
      }  
    }
    .map-content{
      position: relative;
      z-index: 99;
      width: 65%;
      float: right;
      @media(max-width: $screen-sm-max){
        position: static;
        width: 100%;
      } 
      iframe{
        width: 100%;
        pointer-events: none;
      }
    }
  }  
}

.gsc-button{
  @include transition(all 0.35s);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: 2px solid $nocolor;
  margin-bottom: 20px;
  display: inline-block;
  clear: both;
  &.radius-2x{
    @include border-radius(5px);
  }
  &.radius-5x{
    @include border-radius(60px);
  }
  &.mini{
    font-size: 10px;
    padding: 3px 10px;
  }
  &.small{
    font-size: 10px;
    padding: 8px 15px;
  }
  &.medium{
    font-size: 12px;
    padding: 12px 35px;
  }
  &.large{
    font-size: 14px;
    padding: 18px 60px;
  }
  &.extra-large{
    font-size: 14px;
    padding: 20px 60px;
  }
}

.gsc-accordion{
  .panel-body{
    padding-left: 0;
    padding-right: 0;
  }
  .panel-group{
    &.skin-default{
      .panel{
        padding: 0;
        margin-bottom: 30px!important;
        background: none;
      }
      .panel-heading{
        background: $white!important;
        padding: 15px 20px!important;
        @include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.02));
        a{
          text-transform: uppercase;
          font-family: $font-family-base;
          font-size: 13px;
          &:not(.collapsed){
            color: $theme-color;
          }
        }
      }
      .panel-body{
        padding: 30px 0 0;
      }
    }
    &.skin-dark{
      background: #FAFAFA;
      .panel{
        background: #FAFAFA;
        border-bottom: 1px solid #e2e2e2!important;
        .panel-title{
          background: #FAFAFA!important;
          a{
            background: none!important;
          }
        }
        &:last-child{
          border-bottom: none!important;
        }
      }
    }
    &.skin-white-border{
      border: 1px solid $border-color;
      padding: 30px;
      .panel{
        padding: 0 0 15px!important;
        border-bottom: 1px solid $border-color!important;
        margin-bottom: 18px!important;
        .panel-title a{
          padding-left: 24px;
          font-size: 13px;
          text-transform: uppercase;
          &:after{
            left: 0;
          }
        }
        .panel-body{
          padding-top: 10px;
        }
        &:last-child{
          border-bottom: 0!important;
          margin-bottom: 0!important;
          padding-bottom: 0!important;
        }
      }
    }
  }
}

.service-timeline {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  .hentry {
    position: relative;
    .icon{
      font-size: 22px;
      color: $theme-color;
      position: relative;
      @include transition(all 0.35s);
    }
    .hentry-box{
      @include box-shadow(0 10px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1));
      background: $white;
      padding: 30px;
    }
    @media(max-width: $screen-sm-max){
      padding-left: 70px!important;
      .icon{
        left: 0 !important;
      }
    }
    @media(max-width: $screen-xs-max){
      .content-inner{
        padding-left: 15px!important;
      }
    }
  }

  &:before {
    background: $border-color;
    content: "";
    left: 50%;
    top: 10px;
    bottom: 0;
    position: absolute;
    width: 1px;
    margin-left: -1px;
    margin-top: -10px;
    height: 100%;
    @media(max-width: $screen-sm-max){
      left: 0;
    }
  }
  > li {
    display: block;
    width:100%;
    position: relative;
    padding-top: 80px;
    &.active{
      .icon{
        background: $theme-color!important;
        color: $white!important;
      }
    }
    &:last-child{
      padding-bottom: 110px;
    }
    .hentry{
      width: 50%;
    }
    @media(max-width: $screen-sm-max){
      .hentry{
        padding-left: 40px;
        width: 100%;
        float: left;
        clear: left;
      }  
    }
    &:nth-child(even) {
      .hentry {
        float: left;
        clear: left;
        padding-right: 50px;
        text-align: right;
        @media(max-width: $screen-sm-max){
          text-align: left;
          padding-right: 0;
          padding-left: 50px;
        }
        .icon{
          right: -35px;
          @media(max-width: $screen-sm-max){
             left: -35px;
             right: auto;
          }
        }
        .hentry-box{
          .content-inner{
            padding-right: 10px;
            @media(max-width: $screen-sm-max){
              padding-left: 10px;
              padding-right: 0;
            }
          }
        }
      }
    }
    &:nth-child(odd) {
      .hentry {
        float: right;
        clear: right;
        padding-left: 50px;
        text-align: left;
    
        .icon{
          left: -35px;
        }
        .hentry-box{
          .content-inner{
            padding-left: 10px;
          }
        }
      }
    }
    .hentry {
      position: relative;
      .icon{
        display: inline-block;
        @include size(68px, 68px);
        @include border-radius(50%);
        border: 1px solid $border-color;
        text-align: center;
        line-height: 65px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        background: $white;
        z-index: 9;
        @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.15));
      }
      .title{
        font-size: 12px;
        font-weight: 900;
        color: $black;
        text-transform: uppercase;
      }
    }
  }
}

.gsc-image-content{
  position: relative;
  margin-bottom: 30px;
  .image{
    position: relative;
    overflow: hidden;
    text-align: center;
    img{
      @include transition(all 3s);
    }
  }  
  .content{
    .title{
      font-size: 16px;
      font-weight: 700;
      margin: 16px 0 10px;
    }
  }
  .action a{
    color: $theme-color;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: $font-second;
    font-weight: 700;
    @include transition(color 0.35s);
    &:hover, &:active, &:focus{
      text-decoration: underline;
    }
  }
  &.skin-v2{
    position: relative;
    .content{
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      padding: 30px;
      background: rgba(0, 0, 0, 0.4);
      z-index: 11;
      @include transition(all 0.35s);
      .title{
        padding: 0;
        margin: 0 0 5px;
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
      }
      .desc{
        color: $white;
        font-weight: 400;
        padding: 6px 0;
        margin-top: 30px;
        @include transition(all 0.35s);
        @include opacity(0);
        p{
          margin-bottom: 0;
        }
      }
      .action{
        margin-top: 30px;
        @include opacity(0);
        @include transition(all 0.45s);
      }
    }
    &:hover{
      .content{
        background: rgba(0, 0, 0, 0.8);
      }
      .desc, .action{
        margin-top: 0;
        @include opacity(1);
      }
    }
  }
}

.gsc-multi-sroll{
  .ms-section{
    background: $white;
    .bg-full{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      @include size(100%, 100%);
      background-repeat: no-repeat;
    }
    .main-content{
      padding-top: 0;
      padding-left: 15px;
      padding-right: 15px;
      max-width: 550px;
      margin: 0 auto;
      text-align: center;
      .number{
        color: #262626;
        font-size: 72px;
        font-weight: 700;
        line-height: 1;
      }
      .title{
        font-size: 30px;
        color: $theme-color;
        font-weight: 700;
      }
      .desc{
        color: #aaaaaa;
      }
    }
    .image{   
      margin-top: 45px;
      @media(max-width: $screen-md-max){
        margin-top: 15px;
      }
    }
  }
}

.gsc-block-view{
  &.remove-margin-on{
    margin-bottom: 0!important;
  }
}

.gsc-service-carousel{
  text-align: center;
  .item{
    .content-inner{
      border: 1px solid #F6F6F6;
      text-align: center;
      min-height: 170px;
      padding: 20px 15px 0;
      margin-bottom: 30px;
      margin-top: 10px;
      @include transition(all 0.35s);
      .icon i{
        font-size: 48px;
        color: $theme-color;
        line-height: 70px;
      }
      .title a{
        font-weight: 700;
        color: #666666;
        line-height: 22px;
      }
      &:hover, &:focus, &:active{
        box-shadow: 0px 6px 21px 3px rgba(0, 0, 0, 0.1);
        background: $white;
        border-color: transparent;
      }
    }
  }
  .read-more{
    margin-top: 30px;
  }
}

.gsc-box-text{
  padding: 30px;
  margin-bottom: 30px;
  .title a{
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
  }
  .sub-title{
    font-size: 13px;
  }
  &.style-1{
    .title{
      background: none!important;
    }
  }
  &.style-2{
    .title{
      color: $white!important;
      display: inline-block;
      padding: 5px 20px;
      margin-bottom: 20px;
      a{
        margin: 0;
        font-size: 16px;
        font-weight: 700;
      }
      &:hover, &:active, &:focus{
        background: $black!important;
      }
    }
  }
  &.style-3{
    padding: 50px;
    @media(max-width: $screen-md-max){
      padding: 30px;
    }
    .sub-title{
      background: none!important;
    }
    .title{
      background: none!important;
    } 
  }
  &.style-4{
    padding: 30px;
    .sub-title{
      background: none!important;
    }
    .title{
      background: none!important;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 20px;
    } 
  }
}

.gsc-box-number{
  background: none;
  .content-inner{
    position:relative;
  }
  .title{
    margin-bottom: 15px;
    line-height: 1;
    font-family: $font-second;
    a{
      font-size: 18px;
      font-weight: 600;
      font-family: $font-second;
      &:hover, &:active, &:focus{
        color: $theme-color;
      }
    }
  }
  &.style-1{
    text-align: center;
    margin-top: 30px;
    .number{
      background: $white;
      @include border-radius(50%);
      font-size: 45px;
      @include size(140px, 140px);
      padding: 10px;
      @include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.05));
      display: inline-block;
      line-height: 120px;
      text-align: center;
      span{
        display: block;
        border: 2px solid $theme-color;
        color: $theme-color;
        @include border-radius(50%);
        @include size(120px, 120px);
      }
    }
    .content{
      text-align: center;
      margin-top: 40px;
      font-size: 14px;
    }
  }
  &.style-2{
    margin-bottom: 45px;
    margin-top: 20px;
    .icon{
      color: $theme-color;
      font-size: 30px;
      display: block;
      margin-bottom: 18px;
      margin-top: 5px;
    }
    .number{
      float: left;
      background: $white;
      @include border-radius(50%);
      font-size: 45px;
      @include size(140px, 140px);
      padding: 10px;
      @include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.05));
      display: inline-block;
      line-height: 120px;
      text-align: center;
      span{
        display: block;
        border: 2px solid $theme-color;
        color: $theme-color;
        @include border-radius(50%);
        @include size(120px, 120px);
      }
    }
    .content{
      padding-left: 160px;
    }
  }
  &.style-3{
    padding-left: 30px;
    margin-bottom: 30px;
    .box-content{
      padding-bottom: 30px;
    }
    .icon{
      padding: 50px 20px;
      color: $white;
      font-size: 60px;
      text-align: center;
    }
    .box-content{
      background: $theme-color;
      .content-inner{
        display: table;
        .content-main{
          display: table-cell;
          background: $white;
          padding: 30px;
          @include box-shadow(5px 9px 11px 5px rgba(0, 0, 0, 0.1));
          position: relative;
          left: -30px;
          width: 100%;
        }
        .number{
          display: table-cell;
          width: 100px;
          text-align: center;
          color: $white;
          font-style: italic;
          font-size: 42px;
          font-weight: 700; 
          vertical-align: middle;
          padding-right: 30px;
        }
      }
    }
  }
}

.gsc-our-history-carousel{
  .item{
    padding-top: 30px;
    margin-bottom: 45px;
    .content-inner{
      background: $white;
      @include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.02));
      text-align: left;
      padding: 30px;
      @include transition(all 0.35s);
      .year{
        @include size(60px, 60px);
        color: 16px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -30px;
        z-index: 9;
        background: $theme-color;
        @include border-radius(50%);
        color: $white;
        line-height: 60px;
        font-weight: 700;
      }
      .title{
        font-size: 16px;
        color: $theme-color;
        padding: 10px 0;
      }
      &:hover{
        @include box-shadow(0px 10px 60px 0px rgba(0, 0, 0, 0.1));
      }
    }
  }
}

.gsc-our-gallery{
  .item{
    .content-inner{
      .title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        padding: 20px;
        background: rgba(255, 255, 255, 0.6);
        color: $black;
      }
    } 
  }
  .owl-nav{
    .owl-prev{
      margin-left: 90px!important;
    }
    .owl-next{
      margin-right: 90px!important;
    }
  }
}

.gsc-our-history-timeline{
  margin-bottom: 30px;
   .item{
    position: relative;
    padding-bottom: 20px;
    &:before{
      content: "";
      @include size(10px, 10px);
      @include border-radius(50%);
      background: $theme-color;
      position: absolute;
      top: 10px;
      left: 90px;
      z-index: 1;
      @media(max-width: $screen-sm-max){
        left: 70px;
      }
    }
    &:after{
      content: "";
      @include size(6px, 100%);
      background: #F6F6F6;
      position: absolute;
      top: 20px;
      left: 92px;
      z-index: 1;
      @media(max-width: $screen-sm-max){
        left: 72px;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    .year{
      font-size: 18px;
      color: $black;
      top: 0;
      left: 0;
      z-index: 1;
      position: absolute;
      font-weight: 700;
    }
    .content-right{
      padding-left: 150px;
      @media(max-width: $screen-sm-max){
        padding-left: 100px;
      }
      .title{
        font-size: 18px;
        color: $black;
        font-weight: 700;
      }
      .description{
        padding-top: 10px;
      }
    }
  }
}

.gsc-our-partners{
  @include clearfix();
  margin-bottom: 45px;
  .image{
    width: 35%;
    float: left;
    @media(max-width: 400px){
      width: 100%;
      text-align: center;
    }
  }
  .content-inner{
    width: 65%;
    float: left;
    padding-left: 30px;
    @media(max-width: 400px){
      width: 100%;
    }
    .title{
      font-size: 18px;
      color: $black;
      font-weight: 700;
    }
    .info{
      font-size: 12px;
      padding: 5px 0 12px;
      .category{
        color: $theme-color;
      }
    }
  }
}

.gsc-box-download{
  background: $theme-color;
  color: $white;
  padding: 30px;
  margin: 20px 0;
  .info{
    .title{
      font-size: 18px;
    }
    .desc{
      font-size: 12px;
      line-height: 24px;
    }
  }
  .box-files{
    a{
      display: inline-block;
      margin-bottom: 10px;
      text-align: center;
      color: $black;
      font-weight: 700;
      font-size: 13px;
      background: $white;
      padding: 15px;
      width: 100%;
    }
  }
  &.horizontal{
    @include clearfix();
    .info{
      width: 70%;
      float: left;
      @media(max-width: $screen-xs-max){
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .box-files{
      width: 30%;
      float: left;
      @media(max-width: $screen-xs-max){
        width: 100%;
      }
    }
  }
}

.gsc-socials{
  &.style-1{
    text-align: center;
    @include clearfix();
    a{
      @include size(60px, 60px);
      color: $theme-color;
      background: $white;
      font-size: 18px;
      line-height: 62px;
      text-align: center;
      display: inline-block;
      margin: 0 10px;
      @include border-radius(50%);
      @include transition(all 0.35s);
      &:hover, &:active, &:focus{
        @include opacity(0.8);
      }
    }
  }
  &.style-2{
    margin-bottom: 30px;
    a {
      color: $text-color;
      text-decoration: none;
      @include transition(all 0.5s ease 0s);
      margin-right: 12px;
      font-size: 14px;
      &:last-child{
        margin-right: 0;
      }
      &:hover, &:focus, &:active{
        @include opacity(0.7);
      }
      i{
        color: $white;
        @include size(40px, 40px);
        @include border-radius(50%);
        display: inline-block;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
      }
      i.fa-facebook-square, i.fa-facebook {
        background: #3b5998;
      }
      i.fa-twitter, i.fa-twitter-square {
        background: #4099ff;
      }
      i.fa-skype {
        background: #12a5f4;
      }
      i.fa-dribbble {
        background: #ea4c89;
      }
      i.fa-linkedin-square, i.fa-linkedin {
        background: #0e76a8;
      }
      i.fa-apple {
        background: #f2f2f2;
      }
      i[class*="fa-pinterest"] {
        background: #c92228;
      }
      i.fa-google-plus-square, i.fa-google-plus {
        background: #d34836;
      }
      i.fa-youtube-square, i.fa-youtube {
        background: #c4302b;
      }
      i.fa-vimeo-square, i.fa-vimeo {
        background: #4ebbff;
      }
      i.fa-tumblr-square, i.fa-tumblr {
        background: #35465c;
      }
      i.fa-xing-square, i.fa-xing {
        background: #126567;
      }
      i.fa-instagram {
        background: #3897F0;
      }
      i.fa-behance{
        background: #0075FF;
      }
    }
  }
}

.gsc-info-background{
  position: relative;
  .content{
    width: 50%;  
    @media(max-width: $screen-md-max){
      padding: 30px!important;
    }
    @media(max-width: $screen-xs-max){
      padding-top: 310px;
      width: 100%;
    }
    .content-bg{
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      z-index: 1;
    }
    .content-inner{
      position: relative;
      z-index: 9;
      max-width: 650px;
      font-size: 14px;
      line-height: 28px;
      .btn-theme{
        @include border-radius(30px);
      }
    }
    .title{
      font-size: 30px;
      margin-bottom: 20px;
      h3{
        margin: 0;
      }
    }
    .readmore{
      margin-top: 30px;
    }
    &.text-light{
      color: $white;
      .title h3, .title h2, .desc{
        color: $white;
      }
      .subtitle{
        color: rgba(255, 255, 255, 0.8);
      }
      .content-inner{
        color: $white;
      }
      .btn-theme{
        background: $white;
        color: $black;
      }
    }
  }
  .image{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 9;
    top: 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media(max-width: $screen-xs-max){
      height: 300px;
      width: 100%;
      position: relative;
    }
  }
  &.content-align-left{
    .content{
      float: left;
      padding: 70px 70px 30px 30px;
      .content-inner{
        float: right;
      }
    }
    .image{
      right: 0;
    }
  }
  &.content-align-right{
    .content{
      float: right;
      padding: 70px 30px 30px 70px;
    }
    .image{
      left: 0;
    }
  }
}

.gsc-testimonial-single{
  background: none;
  max-width: 530px;
  float: left;
  position: relative;
  margin-top: 320px;
  margin-bottom: 20px;
  @media(max-width: $screen-sm-max){
    margin-top: 50px;
  }
  .video{
    margin-bottom: 15px;
    .popup-video{
      display: inline-block;
      background: url('#{$base-theme-image-path}/icon-play-2.png') no-repeat left center $nocolor;
      height: 55px;
      padding-left: 75px;
      line-height: 55px;
      @include transition(all 0.35s);
      &:hover, &:focus, &:active{
        @include scale(0.9);
      }
    }
  }
  .quote{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }
  .title{
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 18px;
    line-height: 24px;
  }
  .job{
    font-size: 12px;
  }
  &.text-light{
    .quote, .job, .title{
      color: $white;
    }
    .video a{
      color: $white;
    }
  }
}

.gsc-carousel-content{
  .owl-nav{
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: 60px;
    @include opacity(1);
    background: none!important;
    > div{
      @include size(38px, 38px);
      background: #191A1B!important;
      @include border-radius(3px);
      color: $white!important;
      line-height: 38px!important;
      @include opacity(0.5);
      position: static!important;
      margin: 0 5px!important;
      float: left;
      &:hover, &:focus, &:active{
        @include opacity(1);
      }
    }
  }

  .item{
    .item-content{
      .bg-full{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        @include opacity(0.1);
        @include transition(all 0.35s);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      .content-box{
        float: right;
        width: 50%;
        background: $theme-color;
        min-height: 600px;
        .content-inner{
          max-width: 700px;
          padding: 60px;
        }
      }
    }
  }
  .active{
    .item-content{
      .bg-full{
        @include opacity(1);
        z-index: 999;
      }
    }
  }
  &.style-1{
    .content-box{
      .content-inner{
        .title{
          font-size: 50px;
          color: $white;
          font-weight: 600;
          line-height: 60px;
          margin-bottom: 30px;
          a{
            color: $white;
          }
        }
        .desc{
          font-size: 17px;
          color: $white;
        }
        .action{
          a{
            background: #191A1B;
            font-size: 18px;
            padding: 5px 25px;
            font-family: $font-family-base;
            @include border-radius(3px);
            border: 1px solid #191A1B;
            &:hover{
              color: #191A1B;
              background: $white;
            }
          }
        }
      }
    }
  }
  &.style-2{
    .content-box{
      .content-inner{
        .title{
          font-size: 30px;
          color: #1d1e20;
          font-weight: 400;
          line-height: 45px;
          a{
            color: #1d1e20;
            font-family: $font-second;
          }
        }
        .desc{
          font-size: 15px;
          color: #232526;
          font-weight: 400;
          line-height: 30px;
          margin: 30px 0;
        }
      }
    }
  }
  &.style-3{
    .owl-dots{
      margin-top: 45px;
    }
    .image{
      max-width: 78%;
      @media(max-width: $screen-sm-max){
        width: 100%;
        max-width: 100%;
      }
    }
    .content-box{
      padding: 40px;
      min-height: auto!important;
      max-width: 500px;
      position: absolute;
      right: 0;
      top: 0;
      @media(max-width: $screen-sm-max){
        padding: 30px;
        max-width: 100%;
        width: 100%!important;
        position: static;
      }
      .content-inner{
        padding: 0!important;
        color: $white;
        font-size: 17px;
        .title{
          font-size: 35px;
          color: $white;
          font-weight: 600;
          line-height: 45px;
          a{
            color: $white;
            &:hover, &:active, &:focus{
              text-decoration: underline;
            }
          }
        }
        .action{
          a{
            background: $black;
            border: 1px solid $black;
          }
        }
      }
    }
  }
}

.gsc-divider{
  width: 100%;
  height: 20px;
  background: url('#{$base-theme-image-path}/divider.png') no-repeat center center $nocolor;
}

.gsc-box-info{
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
  width: 100%; 
  .content{
    width: 45%;  
    padding: 45px;
    @media(max-width: $screen-md-max){
      padding: 30px;
    }
    @media(max-width: $screen-sm-max){
      padding: 20px;
    }
    @media(max-width: $screen-xs-max){
      padding-top: 310px;
      width: 100%;
    }
    .content-bg{
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      z-index: 1;
    }
    .content-inner{
      position: relative;
      z-index: 9;
      max-width: 445px;
    }
    .subtitle{
      font-size: 34px;
      color: $theme-color;
    }
    .title{
      font-size: 18px;
      margin-bottom: 15px;
      font-family: $font-second;
      font-weight: 600;
      letter-spacing: 1px;
      color: $black;
    }
    .readmore{
      margin-top: 30px;
    }
    &.text-light{
      color: $white;
      .title, .title, .desc{
        color: $white;
      }
      .subtitle{
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .image{
    position: absolute;
    width: 55%;
    height: 100%;
    z-index: 9;
    top: 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media(max-width: $screen-xs-max){
      height: 300px;
      width: 100%;
    }
  }
  &.content-align-left{
    .content{
      float: left;
      padding-left: 0;
    }
    .image{
      right: 0;
    }
  }
  &.content-align-right{
    .content{
      padding-right: 0;
      float: right;
    }
    .image{
      left: 0;
    }
  }
}

.column-content{
  &.custom-text-1{
    padding: 80px 0;
    max-width: 350px;
    margin: 0 auto;
    color: $white;
    font-size: 14px;
    *{
      color: $white;
    }
    @media(max-width: $screen-sm-max){
      padding: 35px 0;
    }
  }
  &.custom-text-2{
    padding: 10px;
    color: $white;
    *{
      color: $white;
    }
  }
}