// Block Layout styles
//----------------------------
.block {
  background: $nocolor;
  margin-bottom: 30px;
  .block{
    margin-bottom: 0!important;
  }
  .block-title { 
    background: none;
	  position: relative;
    margin: 0 0 10px;
    color: $theme-color;
    > span{
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; 
      position: relative;
      letter-spacing: 1px;
      color: $black;
      padding: 10px 0 15px;
      z-index: 9;
    }
  }
  &.block-system-main-block{
    margin-bottom: 0;
  }
  &.block-system-breadcrumb-block{
    overflow: visible;
    margin-bottom: 20px;
  }
  &.block-none, &.no-padding{
    background: none!important;
    padding: 0!important;
    .block-content{
      padding: 0!important;
    }
  }
  &.no-title{
    margin-top: 0;
	  border: none;
  	&:before{
  		content: none;
  	}
  }
  &.style-higlight{
    background: #34495E;
    padding-left: 20px;
    padding-right: 20px;
    .block-title {
		border: none;
		span:before{
			content: none;
		}
      h2{
        margin: 0;
        padding: 0;
        border: none;
        span{
          padding: 10px;
          background: #4E6984;
          color: $white;
        }
      }
    }
    .post-title a{
      color: $white;
    }
    .more-link a{
      color: $white;
      padding: 0 15px 15px;
      display: block;
      &:hover{
        color: $theme-color;
      }
    }
  }
  &#block-system-main{
    padding-top: 10px;
  }
  &.block-local-tasks-block{
    margin-bottom: 0;
  }
  &.no-title{
    border: none;
    > .block-title, > div > .block-title {
      padding: 0;
      margin: 0;
	    border: none;
  		&:before{
  			content: none;
  		}
    }
  }
  
  &.block-simplenews{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include clearfix();
    float: left;
    .block-title{
      border: none;
      margin: 0;
      width: 40%;
      margin-bottom: -20px;
      line-height: 1;
      @media(max-width: 510px){
          width: 100%;
          margin-bottom: 0;
      }
      span{
        padding: 0;
        &:after, &:before{
          display: none;
        }
      }
    }
    .description{
      display: none;
    }
    .form-item-message{
      width: 40%;
      float: left;
      padding-top: 18px;
      @media(max-width: 510px){
        width: 100%;
      }
    }
    #edit-mail-wrapper{
      label{
        display: none;
      }
      input.form-email{
        padding: 0 20px;
        width: 40%;
        background: $white; 
        height: 45px;
        border: none;
        float: left;
        margin-left: 15px;
        @media(max-width: 510px){
          width: 100%;
          margin-top: 15px;
          margin-left: 0;
        }
      }
    }
    .form-actions{
      float: left;
      width: 50px;
      position: relative;
      &:after{
        content: "\f1d8";
        font-family: "FontAwesome";
        top: 0;
        left: 0;
        @include size(65px, 45px);
        z-index: 1;
        position: absolute;
        background: $theme-color;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        color: $white;
      }
      input#edit-subscribe{
        background: none;
        border: none;
        height: 45px;
        width: 65px;
        text-align: center;
        font-size: 16px;
        color: transparent;
        text-transform: uppercase;
        @include transition(all 0.35s);
        display: inline-block;  
        position: relative;
        z-index: 2;
      }
    }
  }

  &.block-blocktabs{
    position: relative;
    .ui-widget{
      font-family: $font-family-base;
      font-size: $font-size-base;
    }
    .ui-tabs-nav{
      padding: 0;
      border: none;
      background: none!important;
      display: inline-block;
      float: right;
      position: absolute;
      right: 20px;
      top: -60px;
      z-index: 99;
      > li{
        background: none;
        padding: 0;
        margin: 0;
        border: 0;
        position: relative;
        > a{
          font-size: 14px;
          text-transform: none;
          font-family: $font-family-base;
          font-weight: 700;
        }
        &:last-child{
          > a{
            padding-right: 0;
          }
        }
        &.ui-tabs-active{
           > a{
            color: $theme-color;
           }
        }
      }
    }
    .blocktabs{
      border: none;
      padding: 0;
      @include border-radius(0);
      .ui-tabs-panel{
        padding: 0!important;
      }
    }
    .block{
      margin-bottom: 0!important;
    }
  }
}

.block{
  &.site-branding{
    margin-bottom: 0;
  }
}
.block-local-tasks-block{
  position: relative;
  z-index: 99;
}

.drupal-tabs{
  @include clearfix();
  border-bottom: 1px solid $border-color;
  a{
    font-size: 12px;
  }
  .is-active a{
    color: $theme-color;
  }
}

.help{
  position: relative;
  z-index: 1;
  .control-panel{
    display: none;
  }
}

body.logged-in.node--type-page{
  .help{
    position: fixed;
    top: 300px;
    left: 0;
    @include translateX(-100%);
    z-index: 99;
    width: auto;
    min-width: 164px;
    background: $white;
    @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
    border: 1px solid $border-color;
    @include transition(all 0.35s);
    .container{
      width: auto!important;
    }
    &.show{
      @include translateX(0);
    }
    .control-panel{
      display: block;
      border: 1px solid $border-color;
      @include size(30px, 30px);
      line-height: 30px;
      background: $white;
      text-align: center;
      @include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
      position: absolute;
      top: 20px;
      left: 100%;
      margin-top: -15px;
      z-index: 11;
      &:hover{
        cursor: pointer;
        color: $theme-color;
      }
    }
    .drupal-tabs{
      border: none;
      width: 100%;
      > li{
        float: none;
        a{
          font-size: 12px;
        }
      }
    }
    .messages__wrapper{
      padding: 10px!important;
    }
  }
}

body.logged-in{
  .help{
    padding: 15px 0;
  }
}

.text-light{
  .title{
    color: $white!important;
  }
}

.region-main-menu{
  .block{
    background: $nocolor;
    .block-content{
      padding: 0;
    }
  }
}

.sidebar{
  .block-menu{
    @include clearfix();
    ul{
      li{
        border: none;
        margin: 0 0 10px!important;
        padding: 0!important;
        border: none!important;
        float: left;
        width: 100%;
        a{
          padding: 10px 10px 10px 20px;
          display: block;
          border: 1px solid #EEEEEE;
          text-transform: none;
          font-size: 14px;
          overflow: hidden;
          @include transition(all 0.35s);
          position: relative;
          font-weight: 600!important;
          &:after{
            content: "\f178";
            position: absolute;
            top: 10px;
            left: -20px;
            font-family: "FontAwesome";
            z-index: 1;
            @include opacity(0);
            visibility: hidden;
            @include transition(all 0.35s);
            color: $theme-color;
          }
          &:hover, &:focus, &:active{
            color: $theme-color;
            padding-left: 40px;
            &:after{
              left: 20px;
              @include opacity(1);
              visibility: visible;
            }
          }
        }
        &.menu-item--active-trail{
          > a{
            color: $theme-color!important;
            padding-left: 40px;
            &:after{
              left: 20px;
              @include opacity(1);
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

//--------- Block recent comment ---------------------
.recent-comment-block{
  .views-field-picture{
    @include rtl-margin-right(10px);
  }
  .views-field-title{
    margin-top: -4px;
    a{
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .views-field-name{
    color: #a4a4a4;
    a{
      color: #a4a4a4;
    }
  }
}

.list-tags{
  .view-list{
    ul > li{
      float: left;
      border: 1px solid $border-color;
      display: inline-block;
      width: auto!important;
      padding: 0!important;
      margin: 0 10px 10px 0!important;
      a{
        padding: 6px 10px;
        display: block;
        @include transition(all 0.35s);
      }
      &:hover{
        background: $theme-color;
        a{
          color: $white;
        }
      }
    }
  }
}

.contact-info{
  line-height: 28px;
}

nav.breadcrumb{
  margin-bottom: 0!important;
  background: none;
  color: #999999;
  ol{
    @include clearfix();
    list-style: none;
    margin-bottom: 0!important; 
    padding: 0;
    > li{
      float: left;
      font-size: 13px;
      a{
        color: #999999;
        &:hover{
          color: $theme-color;
        }
      }
      span{
        padding: 0 2px 0px 0px;
      }
    }
  }
}

.contact-link{
  background: $theme-color;
  color: $white;
  padding: 30px;
  .title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .action{
    margin-top: 20px;
  }
}

.company-presentation{
  background: #F6F6F6;
  color: #999999;
  padding: 30px;
  .title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $black;
  }
  .action{
    margin-top: 20px;
  }
}

.block-dropdown-language{
  .dropbutton-wrapper{
    position: relative;
    ul.dropbutton{
      position: absolute;
      top: -5px;
      right: 0;
      display: inline-block;
      float: right;
      z-index: 9;
      padding: 5px 30px 15px 28px;
      &:after{
        content: "\f1ab";
        font-family: 'FontAwesome';
        left: 10px;
        top: 5px;
        position: absolute;
        z-index: 1;
        color: $theme-color;
      }
      > li{
        a{
          color: $white;
          text-align: right;
          font-size: 12px;   
        }
        &.dropbutton-toggle{
          .dropbutton-arrow{
            margin-top: -7px;
            border-width: 5px;
          }
        }
      }
    }
    &.open{
      background: $white;
      ul.dropbutton{
        @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
        @include border-radius(3px);
        background: $white;
        > li > a{
          color: $black;
          &:hover{
            color: $theme-color!important;
          }
        }
      }
      .dropbutton-arrow{
        margin-top: 1px!important;
      }
    }
  } 
}