.form-control {
  box-shadow: none;
}

.search-region{
  position: absolute;
  right: 20px;
  top: 3px;
}

#user-login-form {
  .form-item{
    label{
      width: 100%;
    }
    input{
      width: 100%;
    }
  }
  ul {
    width: 100%;
    padding: 10px 0 30px;
      > li{
      width: 49%;
      float: left;
      text-align: center;
      &:first-child{
        margin-right: 2%;
      }
      a{
        width: 100%;
        display: inline-block;
        float: none;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 5px;
      }
    }  
  }
}

#user-login {
  ul {
    margin: 0 0 5px;
    li {
      margin: 0;
    }
  }
  li.openid-link {
    background: none;
  }
}

#search-form{
	.panel {
		border: none;;
		box-shadow: none;
	}
	.panel-default > .panel-heading {
		border-bottom: none;
	}
}

.hide-label label {
  background: none;
  clip: rect(1px);
}
.exposed-filters .form-item {
  margin-bottom: 10px;
  margin-top: 0;
}
#article-admin-filter ul {
  padding: .5em 0;
  li {
    list-style: none;
  }
}
#edit-operation-wrapper select {
  margin: .5em;
}
div.resizable-textarea {
  textarea {
    margin-top: 0;
    border: 1px solid $border-color;
  }
}
.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}
#edit-keywords-fieldset .form-item {
  &:first-child {
    margin-top: 5px;
  }
}
#user-admin-filter ul {
  li {
    list-style: none;
  }
}
.field-type-text-long fieldset {
  padding: 10px 0;
  border: $border-color;
  .form-item {
    margin: 0;
    padding: 0 0 0 15px;
  }
}
#comment-form {
	label {
		display: inline-block;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 5px;
	}
}
#contact-site-form{
  .form-checkbox{
    margin-left: 0;
  }
}

#comment-form-wrapper{
 .form-item{
    label{
      min-width: 120px;
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
    }
 }
}

#search-block-form{
  input.form-submit{
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    background: $theme-color;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    @include border-radius(0);
    height: 34px;
    @include transition(all 0.35s);
    &:hover{
      background: $black!important;
    }
  }
}

.contact-message-form{
  margin: 0 auto;
  max-width: 800px;
  div[id*="edit-name"], div[id*="edit-mail"], .js-form-item-mail{
    height: 55px;
    line-height: 55px;
    background: $white;
    padding-left: 15px;
    border: 1px solid $border-color;
    @include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.02));
  }
  .form-item{
    margin-bottom: 30px;
    color: $text-color;
    label{
      font-size: 12px;
      display: block;
      text-transform: uppercase;
    }
    #edit-copy{
      float: left;
      margin-right: 5px;
    }
    input[type='text'], input[type='email'], textarea{
      width: 100%;
      border: none;
      background: #fff;
      border: 1px solid $border-color;
      position: relative;
      @include transition(all 0.35s);
      height: 55px;
      @include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.02));
      padding-left: 15px;
    }
    textarea{
      height: 200px;
      padding-top: 15px;
      @media(max-width: $screen-sm-max){
        height: 120px;
      }
    }
  }
  .form-item-copy{
    margin-bottom: 10px!important;
  }
  #edit-actions{
    width: 100%;
    text-align: center;
    @include clearfix();
  }
  #edit-preview{
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    background: $theme-color;
    font-weight: 700;
    @include border-radius(0);
    height: 45px;
    @include transition(all 0.35s);
    margin-right: 20px;
    &:hover{
      background: $black!important;
    }
  }
  #edit-preview{
    display: none;
  }
}

.text-light{
  .contact-message-form{
    #edit-name, #edit-mail, input[type='text'], input[type='email'], textarea{
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.2);
      color: $white;
      &::-webkit-input-placeholder {
        color: $white;
        text-transform: capitalize;
      }
      &:-moz-placeholder {
        color: $white;
        text-transform: capitalize;
        @include opacity(1);
      }
      &::-moz-placeholder {  
        color: $white;
        text-transform: capitalize;
        @include opacity(1);
      }
      &:-ms-input-placeholder {  
        color: $white;
        text-transform: capitalize;
      }
    }
  }
}

.block-system{
  .contact-message-form{
    margin-bottom: 60px;
  }
}

//-- contact-request-call-back -- 
.contact-request-call-back{
  input[type*='text'], select, #edit-name, .form-item-name{
    width: 100%;
    height: 60px!important;
    line-height: 60px;
  }
  select, input[type*='text'], input[type*='phone'], #edit-name, .form-item-name{
    background: $black!important; 
    color: #b5b5b5!important;
  }
  input[id*="edit-preview"]{
    display: none;
  }
}

.text-light{
  .contact-request-call-back{
    select, input[type*='text'], input[type*='phone'], div[id*="edit-name"], #edit-name, div[id*="edit-name"]{
      background: #F6F6F6!important; 
      color: #b5b5b5!important;
      border: none;
      @include box-shadow(none);
      &::-webkit-input-placeholder {
        color: #b5b5b5!important;
        text-transform: capitalize;
      }
      &:-moz-placeholder {
        color: #b5b5b5!important;
        text-transform: capitalize;
        @include opacity(1);
      }
      &::-moz-placeholder {  
        color: #b5b5b5!important;
        text-transform: capitalize;
        @include opacity(1);
      }
      &:-ms-input-placeholder {  
        color: #b5b5b5!important;
        text-transform: capitalize;
      }
    }
  }
}

.contact-v2{
  .contact-request-call-back{
    .col-1{
      width: 100%!important;
    }
    .col-3, .col-2{
      width: 50%!important;
    }
    .col-4{
      width: 100%!important;
    }
    input[type*="submit"]{
      display: inline-block;
      width: auto;
      float: left;
    }
  }
  &.white{
    select, input[type*='text'], input[type*='phone'], input[type*='email'], #edit-name, div[id*="edit-name"]{
      background: $white!important;
    }
  }
}

.contact-v3{
  .contact-request-call-back{
    .col-1, .col-2, .col-3, .col-4{
      width: 100%!important;
    }
    select, input[type*='text'], input[type*='phone'], input[type*='email'], #edit-name, div[id*="edit-name"]{
      background: #444444!important;
    }
  }
}

.contact-v4{
  input[type*="submit"]{
    display: block;
    width: 100%;
  }
  select, input[type*='text'], input[type*='phone'], input[type*='email'], #edit-name, #edit-mail,  div[id*="edit-name"], textarea, .js-form-item-mail{
    background: none!important;
    border: 1px solid rgba(255, 255, 255, 0.1)!important;
    &.js-form-item-mail{
      border: none!important;
      padding: 0!important;
    }
  }
}