html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  &.boxed{ 
    max-width: 1440px;  
    margin: 0 auto;
    @include box-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
    background-color: #efefef;
    div.body-page{
      background: $white;
    }
  }
  &.logged-in{
    &.toolbar-horizontal{
      .header-v2{
        top: 39px;
      }
    }
  }
}

.topbar{
  background: #F5F5F5;
  font-size: 12px;
  padding: 15px 0;
  margin-top: -1px;
  @media(max-width: $screen-xs-max){
    display: none;
  }
  i{
    color: $black;
    font-size: 14px;
    &:hover{
      color: lighten($theme-color, 10%);
    }
  }
  .block{
    margin: 0!important;
  }
}

.language-box{
  .links{
    > li{
      margin-right: 10px;
      @include opacity(0.6);
      line-height: 1;
      margin-top: 5px;
      float: right;
      &.is-active{
        @include opacity(1);
      }
    }
  }
}

header{
  .header-main{
    padding: 30px 0;
    background: $white; 
  }
  .site-branding-logo{
    padding: 20px 0 15px;
    display: inline-block;
    max-height: 80px;
    @media(max-width: $screen-md-max){
      padding: 18px 0 0!important;
    }
    @media(max-width: $screen-sm-max){
      padding: 15px 0!important;
    }
  }
  @media(max-width: $screen-sm-max){
    .site-branding{
      text-align: left;
      padding-bottom: 10px;
    }
    .header-right-inner, .header-right-inner .block{
      text-align: center!important;
    }
  }
  .header-main{
    padding: 0;
    background: none;
  }
  .area-main-menu{
    .navigation{
      position: static;
      ul.gva_menu{
        position: static;
      }
    }
    .area-inner{
      padding-left: 40px;
    }
    .gva-search-region{
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -13px;
      z-index: 9;
      @media(max-width: $screen-sm-max){
        margin-top: -5px;
        top: 30px;
        right: 85px;
        .icon{
          color: $black!important;
        }
      }
      .icon{
        font-size: 14px;
        color: $black;
        &:hover{
          cursor: pointer;
        }
      }
      .search-content{ 
        display: none;
        width: 305px;
        position: absolute;
        top: 43px;
        right: 0;
        margin-top: -1px;
        z-index: 99;
        background: $white;
        padding: 20px;
        @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
        input#edit-keys{
          height: 35px;
          padding: 5px;
          border: 1px solid $border-color;
          background: none;
          width: 168px;
        }
        #edit-submit{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
        }
        #edit-actions{
          margin: 0!important;
          padding: 0!important;
        }
      }
      &.show{
        .search-content{
          display: block;
        }
      }
    }
  }
  .block{
    overflow: visible;
  }

  .header-info{
    .header-icon-clock, .header-icon-phone, .header-icon-address{
      @include size(40px, 50px);
      float: left;
    }
    .header-icon-clock{
      background: url('#{$base-theme-image-path}/icons/icon-clock.png') no-repeat left center;
    }
    .header-icon-phone{
      background: url('#{$base-theme-image-path}/icons/icon-phone.png') no-repeat left center;
    }
    .header-icon-address{
      background: url('#{$base-theme-image-path}/icons/icon-address.png') no-repeat left center;
    }
    .content-inner{
      padding-left: 55px;
      padding-top: 6px;
      .title{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: #666666;
      }
      .desc{
        font-size: 12px;
        color: #999999;
      }
    }
  }
}

header.header-v1{
  position: relative;
  background: $white;
  margin-top: 1px;
  .gva-search-region{
    .icon{
      color: $black;
    }
  }
  .header-inner{
    padding-right: 30px;
  }
  .header-main{
    position: relative;
    z-index: 9;
  }
  @media(min-width: $screen-md-min){
    .navigation .gva_menu > li{
      > a{
        padding-top: 30px!important;
        padding-bottom: 30px!important;
      }
    }
  }
  .stuck{
    background: $white;
  }
}  

header.header-v2{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  .gva-search-region{
    .icon{
      color: $white!important;
    }
  }
  @media(max-width: $screen-sm-max){
    position: static;
    background: $white;
    padding: 10px 15px;
    .branding{
      padding-top: 10px;
    }
    .gva-search-region{
      top: 25px;
      .icon{
        color: $black!important;
      }
    }
  }
  .site-branding-logo{
    padding-top: 20px;
  }
  
  .header-inner{
    padding-right: 40px;
  }
  .navigation .gva_menu > li{
    > a{
      color: $white;
      &:hover, &:active, &:focus{
        color: $black;
      }
    }
    &.menu-item--active-trail > a{
      color: $black!important;
    }
  }

  .stuck{
    background: $white!important;
    .navigation .gva_menu > li > a{
      color: $black!important;
      &:hover{
        color: $theme-color!important;
      }
    }
  }
}

header.header-v3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: $nocolor;
  margin-top: 2px;
  .topbar{
    background: none;
    color: $white;
    i{
      color: $white;
    }
  }
  .header-main-inner{
    background: $white;
    @include border-radius(3px);
    padding: 0 20px;
  }
  .stuck{
    .header-main-inner{
      margin-top: 0;
    }
  }
  .site-branding-logo{
    padding-top: 20px;
  }
  .gva-search-region{
    right: 15px;
    .icon{
      color: $black;
    }
  }
  .navigation .gva_menu > li > a{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-inner{
    padding-right: 20px;
  }
}  

header.header-v4, header.header-v5{
  .header-main{
    padding: 20px 0;
    .site-branding-logo{
      padding: 5px 0;
    }
  }
  .widget{
    margin-bottom: 0;
    &.gsc-icon-box{
      @media(max-width: $screen-xs-max){
        margin-top: 20px;
      }
      h4{
        margin: 0;
      }
    }
  }
  .block{
    margin-bottom: 0;
  }
  .area-main-menu{
    border-top: 2px solid $border-color;
  }
  .main-menu{
    background: $white;
    .area-inner{
      padding: 0;
    }
    ul.gva_menu_main{
      float: left;
    }
  }
  
  @media(max-width: $screen-sm-max){
    .menu-bar{
      margin-top: 15px;
      span{
        background: $black!important;
      }
    }
    .area-main-menu .gva-search-region{
      top: 15px!important;
      i{
        color: $black!important;
      }
    }
  }
  .stuck{
    background: $white!important;  
  }   
}

.header-v5{ 
  .header-main{
    padding: 0!important;
    .header-inner{
      padding: 30px;
      border-bottom: 1px solid $border-color;
    }
  }
  .main-menu{
    border: none!important;
  }
  .branding{
    text-align: center;
    .site-branding-logo{
      padding-top: 0;
      @media(max-width: $screen-sm-max){
        padding: 0!important;
      }
    }
  }
  .language-box{
    margin-top: 10px;
    .block-dropdown-language .dropbutton-wrapper ul.dropbutton{
      left: 0!important;
      right: auto!important;
      > li a{
        color: $text-color;
      }
    }
  }
  .box-user{
    float: right;
    margin-top: 10px;
    a{
      font-size: 12px;
      font-weight: 700;
      margin-left: 20px;
      color: $text-color;
      &:first-child{
        margin-left: 0;
      }
      &.register{
        color: $white;
        background: $theme-color;
        @include border-radius(30px);
        padding: 4px 20px;
        border: 1px solid $theme-color;
        @include transition(all 0.35s);
        &:hover, &:focus, &:active{
          background: none;
          color: $theme-color;
        }
      }
    }
  }
}

.stuck {
  position:fixed!important;
  top: 0;
  left: 0;
  z-index: 99!important;
  width: 100%;
  @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.1));
  @include transition(all 0.35s);
}
@media(min-width: $screen-md-max){
.sticky-is-hidden{
  .stuck{
    top: -200px;
  }
}
.sticky-is-show .stuck{
  @include box-shadow(0 1px 12px 0 rgba(0, 0, 0, 0.1));
  top: 0;
}
}

.area{
  &.slideshow_content{
    .block{
      margin-bottom: 0;
    }
  }
}

.area-panel{
  padding: 30px 0;
}

.header-right{
  .block{
    margin-bottom: 0;
  }
}

.promotion{
  padding: 0;
  margin-bottom: 0;
}

#page-main-content{
  min-height: 360px;
  @media(max-width: $screen-sm-max){
    min-height: 100px;
  }
}

.main-menu{
  .area-main-menu{
    .area-inner{
      .block{
        margin-bottom: 0;
      }
    }  
  }
}  

.sidebar{
  position: relative;
}

body{
  &.hidden-footer{
    .footer-center{
      display: none!important;
    }
  }
  &.copyright-fixed{
    #footer{
      z-index: 999!important;
    }
    .copyright{
      position: fixed;
      bottom: 0;
      z-index: 999;
      left: 0;
      width: 100%;
    }
  }
}

.footer{
  font-size: 14px;
  color: #999999;
  background: #333333;
  line-height: 28px;
  .footer-top{
    .before-footer{
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 30px 0;
    }
  }
  .footer-center{
    padding: 40px 0;
  }
  a{
    color: #999999;
    &:hover{
      color: $theme-color;
    }
  }
  .block{
    padding-bottom: 0;
    margin-bottom: 0;
    .block-title{
      &:after, &:before{
        background: $white!important;
      }
      span{
        color: $white!important;
      }
    }
  }
  @media(max-width: $screen-sm-max){
    .column{
      margin-bottom: 20px;
    }
  }
}

body.footer-fixed{
  .gva-body-page{
    background-color: $white;
    @include box-shadow(0 5px 30px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 9;
    @media(max-width: $screen-sm-max){
      margin-bottom: 0!important;
    }
  }
  #footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    @media(max-width: $screen-sm-max){
      position: static;
    }
  }
}

.copyright{
  background: #2C2C2C;
  a{
    &:hover{
      color: $theme-color;
    }
  }
  .copyright-inner{
    padding: 20px 0;
    .block{
      margin: 0;
    }
  }
}

