.team-carousel{
  .team-block{
    position: relative;
    .team-email{
      display: none;
    }
    .team-image{
      &:after{
        content: "";
        @include size(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: $theme-color; /* fallback for old browsers */
        filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=darken($theme-color, 20%), endColorstr=#ece183);
        background:-moz-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-webkit-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-ms-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-o-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,darken($theme-color, 20%)), color-stop(50%, $theme-color), color-stop(100%,#ece183));
        @include opacity(0);
        @include transition(all 0.35s);
      }
    }
    .team-content{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      padding: 30px 30px 20px;
      @include opacity(0);
      @media(max-width: $screen-xs-max){
        padding: 20px;
      }
      .team-name{
        margin: 0;
        a{
          color: $white;
          font-size: 18px;
          font-weight: 600;
          &:hover, &:active, &:focus{
            color: $theme-color;
          }
        }
      }
      .team-job{
        color: $white;
      }
      .socials{
        margin-top: 0!important;
        a{
          margin-right: 0!important;
          i{
            background: none!important;
            color: $white;
            width: 24px;
            height: 24px;
            font-size: 13px;
          }
          &:hover, &:active, &:focus{
            color: $theme-color;
            @include opacity(1);
            i{
              color: $theme-color;
            }
          }
        }
      }
    }
    &:hover, &:active, &:focus{
      .team-content{
        @include opacity(1);
      }
      .team-image{
        &:after{
          @include opacity(0.8);
        }
      }
    }
  }
}

.team-grid-1{
  .team-block{
    margin-bottom: 30px;
    position: relative;
    .team-image{
      &:after{
        content: "";
        @include size(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: $theme-color; /* fallback for old browsers */
        filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=darken($theme-color, 20%), endColorstr=#ece183);
        background:-moz-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-webkit-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-ms-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-o-linear-gradient(left top, darken($theme-color, 20%) 0%, $theme-color 50% , #ece183 100%);
        background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,darken($theme-color, 20%)), color-stop(50%, $theme-color), color-stop(100%,#ece183));
        @include opacity(0);
        @include transition(all 0.35s);
      }
    }
    .socials{
      position: absolute;
      top: 35px;
      left: 35px;
      z-index: 11;
      @include opacity(0);
      @include transition(all 0.35s);
      a{
        color: $white;
        margin-right: 20px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .content-inner{
      position: absolute;
      width: 100%;
      padding: 35px;
      bottom: 0;
      left: 0;
      z-index: 9;
      @include opacity(0);
      @include transition(all 0.35s);
    }
    .team-name{
      a{
        color: $white;
        font-size: 18px;
        font-weight: 600;
        font-family: $font-second;
        letter-spacing: 1px;
        &:hover, &:focus, &:active{
          text-decoration: underline;
        }
      }
    }
    .team-job{
      font-size: 14px;
      font-style: italic;
      color: $white;
    }
    &:hover, &:focus, &:active{
      .socials, .content-inner{
        @include opacity(1);
      }
      .team-image{
        &:after{
          @include opacity(0.8);
        }
      }
    }
  }
}

.team-grid-2{
  .team-block{
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
    
    .team-email{
      display: none;
    }
    .team-content{
      width: 100%;
      z-index: 99;
      padding: 15px 20px;
      @include transition(all 0.35s);
      @include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.1));
      text-align: left;
      .socials{
        display: none;
      }
      .team-name{
        margin-top: 0;
        position: relative;
        z-index: 9;
        a{
          font-weight: 600;
          font-size: 14px;
          font-family: $font-second;
        }
      }
      .team-job{
        position: relative;
        z-index: 9;
        font-size: 14px;
        color: #999999;
        font-style: italic;
      }
    }
    &:hover, &:focus, &:active{
      .team-content{
        background: #222;
        .team-name, .team-name a{
          color: $white;
        }
        .team-job{
          color: $white;
        }
      }
    }
  }
  .views-row{
    &:last-child{
      .team-block{
        margin-bottom: 0;
      }
    }
  }
}

.team-list{
  .team-block{
    .team-name a{
      font-weight: 600;
      font-family: $font-second;
      font-size: 16px;
    }
    .team-image{
      width: 35%;
      float: left;
    }
    .team-content{
      padding-left: 30px;
      width: 65%;
      float: left;
      .team-body{
        display: block!important;
        visibility: visible!important;
        padding: 10px 0;
      }
    }
    .socials{
      .gva-social{
        margin-left: 15px;
        font-size: 16px;
      }
    }
  }
}

.team-single-page{
  .team-name{
    margin-bottom: 30px;
    .name{
      font-size: 30px;
      font-weight: 700;
      color: $black;
      line-height: 42px;
    }
    .job{
      font-size: 12px;
      color: #999999;
    }
    .line{
      text-align: center;
      float: left;
      span{
        @include size(30px, 5px);
        @include border-radius(10px);
        display: inline-block;
        margin: 0 5px;
        &.one{
          background: #5EB4E7;
          margin-left: 0;
        }
        &.second{
          background: #F8C44F;
        }
        &.three{
          background: #F49626;
          margin-right: 0;
        }
      }
    }
  }
  .socials{
    margin-top: 10px;
  }
  .heading{
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }
  .team-contact{
    margin-bottom: 25px;
  }
  .team-contact, .team-education{
    .content-inner{
      color: #999999;
      font-size: 13px;
      line-height: 28px;
    }
  }
  .team-education{
    .field__item{
      padding-left: 20px;
      position: relative;
      &:after{
        content: "";
        @include size(6px, 6px);
        background: $theme-color;
        position: absolute;
        top: 13px;
        left: 0;
        @include border-radius(50%);
        z-index: 1;
      }
    }
  }
  .team-info{
    margin-bottom: 30px!important;
  }
  .team-quote{
    font-size: 16px;
    color: #999999;
    margin-top: 20px;
    padding-left: 50px;
    position: relative;
    &:after{
      font-family: "FontAwesome";
      content: "\f10d";
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      color: $theme-color;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
    }
  }
}