.testimonial-node-v1{
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  .content-inner{
    position: relative;   
    margin: 10px 0 30px;
    .testimonial-content{
      @include border-radius(5px);
      @include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.1));
      background: $white;
      padding: 75px 60px 60px;
      position: relative;
      z-index: 9;
      .icon{
        color: $theme-color;
        font-family: $font-second;
        font-size: 60px;
        line-height: 10px;
        position: absolute;
        top: 70px;
        left: 45px;
        z-index: 1;
      }
      .quote{
        color: #999999;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        font-style: italic;
        margin-bottom: 15px;
        font-family: "Georgia";
      }
      .title{
        font-size: 16px;
        color: $black;
        font-family: $font-second;
        font-weight: 600;
      }
      .job{
        color: #999999;
        font-size: 13px;
      }
    }
  }
}

.testimonial-node-v2{
  padding: 0;
  text-align: left;
  margin-bottom: 60px;
  .avatar{
    position: relative;
    width: 82px;
    @include border-radius(50%);
    overflow: hidden;
  }
  .content{
    .quote{
      font-size: 16px;
      line-height: 30px;
      position: relative;
      font-family: "Georgia";
      font-style: italic;
      color: #999999;
      margin-bottom: 15px;
    }
    .info{
      margin-top: 10px;
      .left{
        float: left;
      }
      .right{
        padding-left: 110px;
        padding-top: 20px;
        span{
          display: block;
        }
      }
      .title{
        font-size: 18px;
        font-weight: 600;
        color: $black;
        text-transform: none;
        font-family: $font-second;
      }
      .job{
        font-size: 13px;
        color: #bbbbbb;
      }
    }  
  }
}

.testimonial-node-v3{
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  .avatar{
    img{
      width: 100px!important;
      height: auto;
      @include border-radius(50%);
    }
  }
  .quote{
    font-size: 16px;
    line-height: 32px;
    position: relative;
    padding-top: 10px;
    color: $black;
    text-align: center;
  }
  .info{
    margin-top: 30px;
    display: inline-block;
    text-align: left;
  }
  .left, .right{
    float: left;
    &.left{
      margin-right: 15px;
    }
  }
  .job{
    color: #bbbbbb;
    font-size: 12px;
  }
  .content-inner{
    .title{
      margin-top: 10px;
      font-size: 16px;
      font-weight: 700;
      color: $black;  
    }
  }  
}

.testimonial-node-v4{
  float: left;
  padding: 80px 0 0;
  position: relative;
  max-width: 650px;
  &:after{
    font-family: "FontAwesome";
    content: "\f10d";
    left: 30px;
    top: 20px;
    position: absolute;
    z-index: -1;
    color: #f6f6f6;
    font-size: 160px;
    text-align: center;
    line-height: 1;
  }
  .quote{
    font-size: 16px;
    color: #999999;
    line-height: 30px;
    font-style: italic;
    font-family: "Georgia";
  }
  .title{
    font-weight: 600;
    color: $black;
    font-size: 16px;
    margin-top: 10px;
    font-family: $font-second;
  }
  .job{
    margin-top: 0;
    font-size: 12px;
    color: #bbbbbb;
  }
}

.testimonial-node-v5{
  background: none;
  max-width: 620px;
  float: left;
  position: relative;
  margin-top: 0;

  .video{
    margin-bottom: 30px;
    .popup-video{
      display: inline-block;
      background: url('#{$base-theme-image-path}/icon-play-2.png') no-repeat left center $nocolor;
      height: 55px;
      padding-left: 75px;
      line-height: 55px;
      @include transition(all 0.35s);
      &:hover, &:focus, &:active{
        @include scale(0.9);
      }
    }
  }
  .quote{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: $black;
  }
  .title{
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
  }
  .job{
    font-size: 12px;
  }
}

.testimonial-node-v6{
  background: #F6F6F6;
  padding: 35px 30px;
  .quote{
    margin-bottom: 20px;
    color: #999999;
    text-indent: 25px;
    position: relative;
    &:after{
      font-family: "FontAwesome";
      content: "\f10d";
      left: -20px;
      top: -15px;
      position: absolute;
      z-index: 1;
      color: $theme-color;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
    }
  }
  .info{
    position: relative;
    padding-left: 80px;
    &:after{
      content: "";
      @include size(60px, 5px);
      background: $theme-color;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -2.5px;
      z-index: 1;
    }
    .title{
      color: $black;
      font-weight: 700;
      font-size: 16px;
    }
  }
}



.view-testimonial-v2{
  position: relative;
  float: left;
  width: 100%;
  .owl-dots{
    text-align: left;
    position: relative;
    margin-top: 20px;
    float: left;
    width: 100%;
    .owl-dot{
      display: inline-block;
      padding: 0;
      margin: 5px;
      background: none;
      @include size(45px, 45px);
      @include border-radius(0);
      border: 2px solid $border-color;
      @include box-shadow(none);
      text-align: center;
      position: relative;
      z-index: 9;
      &.active{
        border-color: $theme-color;
      }
    }
  }
  .owl-nav{
    display: none;
  }
}

.testimonial-grid{
  .item-grid{
    margin-bottom: 45px;
    @include clearfix();
    .testimonials-quote{
      font-size: 16px;
      color: $black;
      padding: 30px;
      border: 1px solid $border-color;
      font-weight: 300;
      font-style: italic;
    }
    .testimonials-profile{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      float: left;
      padding-top: 20px;
      &:after{
        content: "";
        position: absolute;
        @include size(50px, 2px);
        background: $theme-color;
        top: -1px;
        left: 0;
        z-index: 1;
      }
      .right{
        padding-left: 70px;
        .name{
          font-size: 16px;
          font-weight: 700;
          color: #000000;
          margin: 0;
          text-transform: uppercase;
        }
        .job{
          font-size: 12px;
          font-weight: 900;
          color: $theme-color;
          text-transform: uppercase;
        }
      }
      .left{
        display: inline-block;
        float: left;
        img{
          @include border-radius(50%);
          width: 50px;
          height: auto;
        }
      }
    }
  }
}